/*
 * General
 */
.ob-metabox-wrapper {
	margin: 0 -12px;
}
.ob-field {
	padding: 10px 12px;
	box-sizing: border-box;
	border-bottom: solid 1px #dedede;
}
.ob-field:last-child {
	border-bottom-width: 0;
}
.ob-metabox-wrapper label {
	display: block;
	font-weight: bold;
	margin: 0 0 7px 0;
	font-size: 14px;
}
.ob-metabox-wrapper .subfields label {
	font-size: 12px;
	color: #777;
	margin: 0 0 3px 0;
}
.ob-metabox-wrapper .subfields > div {
	display: inline-block;
	width: auto;
}
.ob-metabox-wrapper .description {
	display: block;
	font-size: 12px;
	font-style: italic;
	color: #777;
	margin: 0 0 7px 0;
}
.ob-metabox-wrapper input[type=text],
.ob-metabox-wrapper textarea {
	font-size: 14px;
	padding: 7px;
	max-width: 100%;
	box-sizing: border-box;
}
.ob-metabox-wrapper input[type=text] {
	width: 25em;
}

/*
 * Collections
 */
.ob-collection {
	position: relative;
	margin: 20px 0;
}
.ob-collection .ob-collection {
	padding-left: 20px;
}
.ob-collection .numbers {
	display: none;
}
.ob-collection .numbers .size, .ob-collection .numbers .limit {
	display: inline;
}
.ob-collection .numbers .size::after {
	display: inline;
	content: '/';
}
.ob-collection .messages > div {
	display: none;
}
.ob-collection .messages .error {
	margin-bottom: 10px;
	padding: 10px;
	background: #c00;
	border-radius: 3px;
	border: solid 1px #c00;
	color: #fff;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}
.ob-collection .choose {
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}
.ob-collection .choose .blocks {
	display: none;
	position: absolute;
	left: 0;
	bottom: 100%;
	margin-bottom: 10px;
	background: #23282d;
	padding: 10px;
	z-index: 2;
}
.ob-collection .choose .blocks .block {
	color: #eee;
	border-bottom: solid 1px #eee;
}
.ob-collection .choose .blocks .block:last-of-type {
	border-bottom: none;
}
.ob-collection .choose .blocks .block:hover {
	color: #00b9eb;
}
/* header and footer */
.ob-field__header, .ob-field__footer {
	border: solid 1px #dedede;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 5px 12px;
	background: #f5f5f5;
	text-align: justify;
	line-height: 0;
}
.ob-field__header:after, .ob-field__footer:after {
	content: '';
	width: 100%;
	display: inline-block;
}
.ob-field__header__titles, .ob-field__header__actions,
.ob-field__footer__titles, .ob-field__footer__actions {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 1.4;
	margin-bottom: -0.2em;
}
.ob-field__header__actions, .ob-field__footer__actions {
	text-align: right;
}

.ob-field__header__titles .title , .ob-field__footer__titles .title {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.ob-field__footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* content */
.ob-field__content {
	border: solid 1px #dedede;
	border-top: 0;
	border-bottom: 0;
}

.ob-collection-fieldset .drag-handler, .ob-collection-block .drag-handler {
	cursor: move;
}
.ob-collection-fieldset, .ob-collection-block {
	position: relative;
	background-color: rgba( 0, 0, 0, .005 );
	padding: 0;
}
.ob-collection-fieldset:after,
.ob-collection-block:after {
	content: " ";
	display: table;
	border: none;
	-webkit-border-vertical-spacing: 0;
}
.ob-collection-fieldset:after, .ob-collection-block:after {
	clear: both;
}
.ob-collection-fieldset .id-wrapper, .ob-collection-block .id-wrapper {
	padding: 10px;
	color: #333;
	text-align: center;
	background-color: rgba( 0, 0, 0, .05 );
	width: 40px;
}
.ob-collection-fieldset table, .ob-collection-block table {
	width: 100%;
	border: none;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
	table-layout: fixed;
}
.ob-collection-fieldset td, .ob-collection-block td {
	padding: 0;
}
.ob-collection-fieldset .remove, .ob-collection-block .remove {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}
.ob-collection.dragging > .ob-field__content > .fields > .ob-collection-fieldset:before, .ob-collection.dragging > .ob-field__content > .fields > .ob-collection-block:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	opacity: .5;
	z-index: 2;
}
.ob-collection.dragging > .ob-field__content > .fields > .ob-collection-fieldset.over:before, .ob-collection.dragging > .ob-field__content > .fields > .ob-collection-block.over:before {
	background: #eee;
}

/*
 * Textarea
 */
.ob-field textarea {
	min-height: 100px;
}

/**
 * Image
 */
.ob-field-image .preview {
	float: none;
	position: relative;
	display: inline-block;
}
.ob-field-image .preview img {
	max-width: 100%;
	height: auto;
	min-height: 40px;
}
.ob-field-image .ob-field-image-remove {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	width: 22px;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-indent: -9999px;
	color: transparent;
	cursor: pointer;
	background-color: #fff;
	background-position: -96px 4px;
	border-width: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.3 );
	-webkit-transition-duration: none;
	transition-duration: none;
	-webkit-transition-property: none;
	transition-property: none;
}
.ob-field-image .ob-field-image-remove:hover {
	-webkit-box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.6 );
	box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.6 );
	background-position: -36px 4px;
}

/* Map */
.ob-field-map .subfields {
	margin-top: 5px;
}


/* Reduce vertical space in editor */
.ob-field__input {
	display: inline-block;
}
.ob-field label {
	display: inline-block;
}
